@import 'animations.css';

.introduce {
    background: url('../../images/agenct.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Nunito-Regular';

    &__wrapper {
        padding: 20px;
        background: rgba(0, 0, 0, 0.6);
    }
}

.text {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 18px;

    &__description {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        margin-bottom: 10px;
    }

    &__images {
        display: flex;
        justify-content: space-between;
    }

    &__image_rotate {
        animation: rotation linear 4s infinite;
    }
}

.title {
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
}

.top-gear {
    position: absolute;
    bottom: 40px;
    right: 70px;
    margin-bottom: 0;
    animation: rotation-inversed linear 3s infinite;
}

.arrow {
    position: relative;
    animation: jumping 0.5s linear infinite;
    animation-direction: alternate;
}

.bag {
    margin: 0 10px;
}

.profit {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    text-align: center;
}

.analytics {
    display: flex;
    transform: rotate(180deg);
}

.analytics__item {
    background-color: #fff;
    width: 10px;
    margin-right: 5px;
}

.analytics__item_3 {
    height: 10px;
}

.analytics__item_2 {
    height: 25px;
}

.analytics__item_1 {
    height: 40px;
}

.offer {
    display: flex;
    justify-content: space-around;
    color: #000;

    &__title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        min-width: 300px;
        height: 400px;
        background: rgba(255, 255, 255);
        font-size: 20px;
    }

    &__list-item {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1024px){
    .text {
        align-items: center;
        flex-direction: column;

        &__description {
            margin-bottom: 30px;
        }
    }

    .offer {
        flex-direction: column;
        
        &__item {
            display: flex;
            height: 300px;
            margin-bottom: 20px;
        }
    }

}

/* TODO html becames on onfull size when bg is small*/

@media screen and (max-width: 335px) {
    .introduce {
        &__bg {
            width: 105%;
        }
    }
}
