head
    title Agency
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
        include ../../css/critical.css
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="libs/widget/styles.css")
