header(class='header')
    h1(class='title') 
        <span class='letter'>M</span>artial <span class='letter'>A</span>gency
    <div>
        a(class='header__link header__link_mail',
         href="mailto: martialproduct@gmail.com") martialproduct@gmail.com
        a(class='header__link', href="tel:+7 965 002 6597") +7 965 002 6597
    </div>