main(class="indtroduce")
    div(class="introduce__bg")
        div(class="introduce__wrapper")
            h1(class="title") Наше агенство это
            ul(class="text")
                li(class="text__description")
                    div(class="text__image text__image_rotate gear top-gear inversed")
                    div(class="text__image text__image_rotate gear inversed")
                    p Автоматизация вашего бизнеса
                li(class="text__description") 
                    div(class="text__image analytics")
                        div(class="analytics__item analytics__item_1")
                        div(class="analytics__item analytics__item_2")
                        div(class="analytics__item analytics__item_3")
                    p Точная аналитика
                li(class="text__description")
                    div(class="text__images")
                        div(class="text__image arrow lighted-arrow-up inversed")
                        div(class="text__image money-bag bag inversed")
                        div(class="text__image arrow lighted-arrow-up inversed")
                    p Увелечиние ваших продаж
        div(class="offer")
            div(class="offer__item")
                h1(class="offer__title") Разработка
                ul(class='offer__list')
                    li Лэндинги
                    li Интернет магазины
                    li CRM/ERP системы
                    li Интеграции со сторонними сервисами
                    li Разработка чат ботов
                h1(class="offer__title price") от 10000000

            div(class="offer__item")
                h1(class="offer__title") Реклама
                ul(class='offer__list')
                    li(class='offer__list-item') Настройка яндекс директ
                    li(class='offer__list-item') Настройка Google AdWords(Google Реклама)
                    li(class='offer__list-item') Настройка РСЯ (Рекламная сеть яндекса)
                    li(class='offer__list-item') Ретаргетинг
                    li(class='offer__list-item') Настройка Facebook ads
                h1(class="offer__title price") от 10000000
                

            
        div(class="introduce__wrapper")
            h1(class="title") Почему мы?
            ul(class="text")
                li(class="text__description")
                    div(class="text__image clock inversed")
                    p Соблюдение сроков
                li(class="text__description") 
                    div(class="text__image clock inversed")
                    p Качественный результат
                li(class="text__description")
                    div(class="text__images")
                        div(class="text__image arrow lighted-arrow-up inversed")
                        div(class="text__image money-bag bag inversed")
                        div(class="text__image arrow lighted-arrow-up inversed")
                    p Сопровождение
