main(class="indtroduce")
    div(class="introduce__block")
        div(class="introduce__text")
            h1(class="introduce__title") Наше агенство это
            ul(class="introduce__description")
                li Автоматизация вашего бизнеса
                li Оптимизация рабочих процессов
                li Увелечиние ваших продаж
        div(class="profit")
            p asdf
