main(class="introduce")
        div(class="introduce__wrapper")
            h1(class="introduce__title") Наше агенство это
            ul(class="text")
                li(class="text__description")
                    div(class="text__image text__image_rotate gear top-gear inversed")
                    div(class="text__image text__image_rotate gear inversed")
                    p Автоматизация вашего бизнеса
                li(class="text__description") 
                    div(class="text__image analytics")
                        div(class="analytics__item analytics__item_1")
                        div(class="analytics__item analytics__item_2")
                        div(class="analytics__item analytics__item_3")
                    p Точная аналитика
                li(class="text__description")
                    div(class="text__images")
                        div(class="text__image arrow lighted-arrow-up inversed")
                        div(class="text__image money-bag bag inversed")
                        div(class="text__image arrow lighted-arrow-up inversed")
                    p Увелечиние ваших продаж
        div(class="offer")
            div(class="offer__item")
                h1(class="offer__title") Разработка
                ul(class='offer__list')
                    li(class='offer__list-item') — Лэндинги
                    li(class='offer__list-item') — Интернет магазины
                    li(class='offer__list-item') — CRM/ERP системы
                    li(class='offer__list-item') — Интеграции со сторонними сервисами
                    li(class='offer__list-item') — Разработка чат ботов
                div(class="offer__price")    
                    h1(class="offer__title offer__title_price") от 10000000

            div(class="offer__item")
                h1(class="offer__title") Реклама
                ul(class='offer__list')
                    li(class='offer__list-item') — Настройка яндекс директ
                    li(class='offer__list-item') — Настройка Google Рекламы
                    li(class='offer__list-item') — Настройка РСЯ (Рекламная сеть яндекса)
                    li(class='offer__list-item') — Ретаргетинг
                    li(class='offer__list-item') — Настройка Facebook ads
                div(class="offer__price")    
                    h1(class="offer__title offer__title_price") от 10000000
                
        div(class="introduce__wrapper")
            h1(class="introduce__title") Почему мы?
            ul(class="text")
                li(class="text__description")
                    div(class="text__image clock inversed")
                    p Соблюдение сроков
                li(class="text__description") 
                    div(class="text__image result inversed")
                    p Качественный результат
                li(class="text__description")
                    div(class="text__image spanners inversed")
                    p Сопровождение
