<html>
  include includes/head.pug
  body
    include includes/header.pug
    include includes/main.pug
    include includes/footer.pug
    script(src="libs/widget/index.js")
    script
      include js/index.js
</html>